<div class="row">
    <div class="col-md-3">
        <img src="{{ post.image }}">
    </div>
    <div class="col-md-6">
        <h4><a href="{{ path('jluct_blog_post',{'id':post.id}) }}">{{ post.title }}</a></h4>
    </div>
    <div class="col-md-1"><a role="button" class="btn btn-info btn-block" href="#">Update</a></div>
    <div class="col-md-1"><a role="button" class="btn btn-success btn-block" href="#">Public</a></div>
    <div class="col-md-1"><a role="button" class="btn btn-danger btn-block" href="#">Delete</a></div>
</div>